body{
    background: url('sf background.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    image-rendering: optimizeQuality;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#blaze{
    width: 30%;
    height: 100px;
    font-size: 75px;
}
#blaze:hover{
    background-color: red;
}

#usd{
    width: 30%;
    height: 100px;
    font-size: 75px;
}
#usd:hover{
    background-color: orange;
}

#twitter-share-button{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    box-shadow: rgba( 255, 0, 0, 1) 4px 4px;
}
#twitter-share-button:hover{
    background-color: red;
    box-shadow: rgba( 0, 0, 0, 1) 4px 4px;
}

.bottomtext{
    background-color: none;
    bottom: 0; 
    position: absolute;
    text-shadow: rgba(255, 0, 0, 1) 2px 2px;
}
.bottomtext:hover{
    background: linear-gradient(red,orange);
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 2px 2px;
    box-shadow: rgba( 0, 0, 0, 1) 2px 2px;
}

#donate-button{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    box-shadow: rgba( 255, 0, 0, 1) 4px 4px;
}
#donate-button:hover{
    background-color: orange;
    box-shadow: rgba( 0, 0, 0, 1) 4px 4px;
}

#convert{
    width: 42.5%;
    height: 100px;
    font-size: 75px;
}
#convert:hover{
    background-image: linear-gradient(red, orange);
}