body{
    background: url('sf background.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    image-rendering: optimizeQuality;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#blaze{
    width: 30%;
    height: 100px;
    font-size: 75px;
}
#blaze:hover{
    background-color: red;
}

#usd{
    width: 30%;
    height: 100px;
    font-size: 75px;
}
#usd:hover{
    background-color: orange;
}

#twitter-share-button{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 100px;
    box-shadow: rgba( 255, 0, 0, 1) 4px 4px;
}
#twitter-share-button:hover{
    background-color: red;
    box-shadow: rgba( 0, 0, 0, 1) 4px 4px;
}

.bottomtext{
    background-color: none;
    bottom: 0; 
    position: absolute;
    text-shadow: rgba(255, 0, 0, 1) 2px 2px;
}
.bottomtext:hover{
    background: linear-gradient(red,orange);
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 2px 2px;
    box-shadow: rgba( 0, 0, 0, 1) 2px 2px;
}

.menutext{
    background-color: none;
    text-shadow: rgba(255, 0, 0, 1) 2px 2px;
    color: white;
    background-color: grey;
}
.menutext:hover{
    background: linear-gradient(red,orange);
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 2px 2px;
    box-shadow: rgba( 0, 0, 0, 1) 2px 2px;
    transform: translateX(10px);
}

#donate-button{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 100px;
    box-shadow: rgba( 255, 0, 0, 1) 4px 4px;
}
#donate-button:hover{
    background-color: orange;
    box-shadow: rgba( 0, 0, 0, 1) 4px 4px;
}

#convert{
    font-size: 100px;
    background-color: black;
    color: white;
    box-shadow: rgba( 255, 0, 0, 1) 4px 4px;
}
#convert:hover{
    background-image: linear-gradient(red, orange);
    box-shadow: rgba( 0, 0, 0, 1) 4px 4px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: black;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    background-color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#dropbutton{
    background-color: black;
    color: white;
}
#dropbutton:hover{
    background-color: white;
    color: black;
}